<div class="container text-center mt-7 mb-4">
    <h3>Thành Viên Nhóm WEB2-06</h3>
</div>
<div class="row container">
    <div class="col-lg-4 p-3 col-md-6 col-sm-12 ">
        <div class="py-5"
            style="border-radius: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="text-center">
                <img src="./assets/img/huy.jpg"
                    style="width: 200px; height: 200px; object-fit: cover; border-radius: 10px;" />
                <h3 class="my-3">Bùi Quốc Huy</h3>
            </div>
            <div class="text-center">
                <p>MSSV: 1988246</p>
                <p>Email: huybq.uel@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 p-3 col-md-6 col-sm-12 ">
        <div class="py-5"
            style="border-radius: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="text-center">
                <img src="./assets/img/linh.jpg"
                    style="width: 200px; height: 200px; object-fit: cover; border-radius: 10px;" />
                <h3 class="my-3">Trần Chí Linh</h3>
            </div>
            <div class="text-center">
                <p>MSSV: 1988258</p>
                <p>Email:tranchilinh0312@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 p-3">
        <div class="py-5"
            style="border-radius: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="text-center">
                <img src="./assets/img/son.jpg"
                    style="width: 200px; height: 200px; object-fit: cover; border-radius: 10px;" />
                <h3 class="my-3">Trần Thanh Sơn</h3>
            </div>
            <div class="text-center">
                <p>MSSV: 1988288</p>
                <p>Email:jasontran.pk@gmail.com</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid text-center mt-5">
    <h3>Chức Năng trong Đồ Án</h3>
    <div class="container-fluid row">
        <div class="col-lg-3 col-md-6 col-sm-12 coll-xs-12 p-2">
            <div class="py-3 px-3"
                style=" height: 100%;border-radius: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="text-center text-primary mb-4">
                    <h4 class="text-primary">Đăng nhập/ Đăng ký</h4>
                </div>
                <div class="text-left">
                    <p>Cho phép người dùng đăng nhập (với email và password) và đăng xuất.</p>
                    <p>Cho phép người dùng tạo tài khoản với các thông tin yêu cầu:</p>
                    <ul>
                        <li>Email</li>
                        <li>Mật khẩu</li>
                        <li>Phòng ban</li>
                        <li>Cấp bật : quản lý (quyền quản trị) và nhân viên</li>
                        <li>Chức danh</li>
                    </ul>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 coll-xs-12  p-2">
            <div class="py-3 px-3"
                style="height: 100%;border-radius: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="text-center text-primary mb-4">
                    <h4 class="text-primary">Hồ sơ cá nhân</h4>
                </div>
                <div class="text-left">
                    <p>Hiển thị thông tin cá nhân của người dùng.</p>
                    <p>Cho phép người dùng cập nhật các thông tin cá nhân bao gồm:</p>
                    <ul>
                        <li>Ảnh đại diện</li>
                        <li>Email</li>
                        <li>Số điện thoại</li>
                        <li>Phòng ban</li>
                        <li>Mô tả công việc</li>
                        <li>Chức danh:</li>
                    </ul>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 coll-xs-12  p-2">
            <div class="py-3 px-3"
                style="height: 100%;border-radius: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="text-center text-primary mb-4">
                    <h4 class="text-primary">Dự Án</h4>
                </div>
                <div class="text-left">
                    <p>Hiển thị danh sách các dự án mà người dùng quản lý hoặc tham gia.</p>
                    <p>Cho phép quản lý tạo, xóa và cập nhật dự án với các thông tin sau:</p>
                    <ul>
                        <li>Tên dự án</li>
                        <li>Mô tả dự án</li>
                        <li>Tình trạng dự án</li>
                    </ul>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 coll-xs-12  p-2">
            <div class="py-3 px-3"
                style="height: 100%;border-radius: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="text-center text-primary mb-4">
                    <h4 class="text-primary">Công việc</h4>
                </div>
                <div class="text-left">
                    <p>Hiển thị danh sách các công việc theo dự án hoặc tất cả công việc mà người dùng quản lý hoặc tham
                        gia.</p>
                    <p>Cho phép quản lý tạo, xóa và cập nhật công việc với các thông tin sau:</p>
                    <ul>
                        <li>Tên công việc</li>
                        <li>Mô tả công việc</li>
                        <li>Deadline</li>
                    </ul>
                    <p>Cho phép nhân viên cập nhật trạng thái công việc.</p>
                    <p>Cho phép người dùng tìm kiếm công việc dựa vào:</p>
                    <ul>
                        <li>Tên công việc</li>
                        <li>Tên dự án</li>
                        <li>Deadline</li>
                        <li>Người quản lý hoặc người thực hiện</li>
                    </ul>
                    <p>Chức năng lọc nhanh công việc dựa vào trạng thái công việc</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="container-fluid text-center my-4">
        <h3>Quy Ước Các Trạng Thái Của Dự Án và Công Việc</h3>
    </div>
    <div class="container-fluid row">
       <div class="col-lg-4 col-md-12 col-sm-12">
        <h4 class="my-4 text-primary">Trạng thái Dự Án</h4>
            <div style="display: flex; align-items: center;">
                <button class="btn btn-success mx-3">OPEN</button>
                <p>Trạng thái mở</p>
            </div>
            <div style="display: flex; align-items: center;">
                <button class="btn btn-primary mx-3">CLOSE</button>
                <p>Trạng thái đóng</p>
            </div>
       </div>
       <div class="col-lg-8 col-md-12 col-sm-12">
            <h4 class="my-4 text-primary">Trạng thái Công Việc</h4>
            <div style="display: flex; align-items: center;">
                <button class="btn btn-secondary mx-3" style="width: 150px">NEW ISSUE  </button>
                <p>Công việc quản lý vừa tạo chờ nhân viên nhận</p>
            </div>
            <div style="display: flex; align-items: center;">
                <button class="btn btn-danger mx-3"  style="width: 150px">IN PROGRESS</button>
                <p>Nhân viên đã nhận công việc và đang trong quá trình thực hiện</p>
            </div>
            <div style="display: flex; align-items: center;">
                <button class="btn btn-info mx-3"  style="width: 150px">IN REVIEW  </button>
                <p>Nhân viên đã hoàn thành công việc và chờ quản lý duyệt</p>
            </div>
            <div style="display: flex; align-items: center;">
                <button class="btn btn-success mx-3"  style="width: 150px">COMPLETED </button>
                <p>Quản lý đã duyệt hoàn thành công việc cho nhân viên</p>
            </div>
            <div style="display: flex; align-items: center;">
                <button class="btn btn-primary mx-3"  style="width: 150px">CLOSED</button>
                <p>Quản lý đóng lại công việc sau khi nhân viên đã hoàn thành</p>
            </div>
            <div style="display: flex; align-items: center;">
                <button class="btn btn-dark mx-3"  style="width: 150px">CANCELED</button>
                <p>Quản lý đã hủy công việc</p>
            </div>
       </div>
    </div>
</div>